{% extends 'layouts/base.html' %}
{% block content %}

    <section>
        <h1>{{task.name}}</h1>
        <div>{{task.description}}</div>
        <strong>{{task.project}}</strong> - 

        {% if task.datecompleted == None %}
            <span>Tarea Pendiente 💩</span>
        {% else %}
            <span>Tarea Realizada 🤠</span>
        {% endif %}

        <hr>
        {% if task.datecompleted == None %}
            <form action="{% url 'complete_task' id=task.id %}" method="POST">
                {% csrf_token %}
                <button>✅ Done</button>
            </form>
        {% endif %}

        <form action="{% url 'delete_task' id=task.id %}" method="POST">
            {% csrf_token %}
            <button>❌ Delete</button>
        </form>
    </section>

    <br><br><br>

    <section>
        {{error}}

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button>Edit</button>
        </form>
    </section>

{% endblock content %}
