{% extends 'layouts/base.html' %}
{% block content %}

    <section>
        <h1 class="text-center mt-2">{{task.name}}</h1>
        <div class="text-center">{{task.description}}</div>
        <p class="text-center">
            <strong>{{task.project}}</strong> - 

            {% if task.datecompleted == None %}
                <span class="text-danger">Tarea Pendiente 💩</span>
            {% else %}
                <span class="text-info">Tarea Realizada 🤠</span>
            {% endif %}
        </p>

        <div class="mt-4 d-flex align-items-center justify-content-center">
            {% if task.datecompleted == None %}
                <form class="d-inline" action="{% url 'complete_task' id=task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-info">Done</button>
                </form>
            {% endif %}

            <form class="d-inline" action="{% url 'delete_task' id=task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </section>
    
    <hr>

    <section>
        {{error}}

        <form method="POST" class="card card-body">
            {% csrf_token %}
            {{form}}

            <button class="btn btn-secondary">Edit</button>
        </form>
    </section>

{% endblock content %}
