{% extends 'layouts/base.html' %}
{% block content %}

    <main class="mt-5">
        <h1 class="mb-4 text-center">Projects</h1>

        <section class="row gap-1 flex align-items-center justify-content-center">
            {% for project in projects %}
                <div class="col-5 card flex align-items-center justify-content-center" style="height: 5rem;">
                    {{ project.name }}
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock content %}
