* {
    margin: 0;
}

body {
    background: #202020;
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: #404040;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    color: white;
}

li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

li a:hover {
    color: #57aabb;
}

.container {
    width: 80%;
    height: 80%;

    display: flex;
    padding: 2rem;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
