{% extends 'layouts/base.html' %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <form class="card card-body mt-5 text-center" action="/signin/" method="POST">
                    <h1>Login</h1>

                    {% if error %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <div>
                                {{ error }}
                            </div>
                        </div>
                    {% endif %}
            
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Enter your username" name="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter your password" name="password" class="form-control">
                    </div>
            
                    <button class="btn btn-primary">Signin</button>
                </form>

            </div>
        </div>
    </main>
{% endblock %}
